<p id="notice"><%= notice %></p>

<p>
  <strong>Vessel:</strong>
  <%= @listing.vessel_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Avail start:</strong>
  <%= @listing.avail_start %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
