<%= form_with(model: vessel) do |form| %>
  <% if vessel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vessel.errors.count, "error") %> prohibited this vessel from being saved:</h2>

      <ul>
        <% vessel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :berths %>
    <%= form.text_field :berths %>
  </div>

  <div class="field">
   <%= form.label :images %>
   <%= form.file_field :images, multiple: true %>
 </div>
  <strong>Attachments:</strong>
 <ul>
 <% vessel.images.each do |image| %>
   <li>
     <%= link_to image.filename, rails_blob_path(image, disposition: :attachment) %>
     <%= link_to 'Remove', delete_file_vessel_url(image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
   </li>
 <% end %>
 </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
