<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @rental.listing_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @rental.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @rental.end_time %>
</p>

<p>
  <strong>Num guests:</strong>
  <%= @rental.num_guests %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
